:root {
	--background-blue: #031131;
	--home-blue: #012e56;
	--standard-blue: #152f56;
	--comment-blue: #213a5f;
	--quote-blue: #284a81;
	--link-blue: #b4c7d9;
	--hover-blue: #2e76b4;

	--other-blue: #174891;

	--yellow: #fdba31;
	--light-yellow: #ffde9b;
	--dark-yellow: #d8b162;
}
.hidden { display:none; }

body {
	background-color: var(--background-blue);
	color: #ccc;
}

#messages {
	height: 5rem;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}